$color-purple: #845cff;
$color-darkblue: #32325d;
$color-blue: #8081ab;
$color-lightblue: #f4f4fe;
$color-lightgrey: #fafaff;

$color-white: #fff;
$color-shadow: #e9e0ff;

$font-size-title: 48px;
$font-size-medium: 30px;
$font-size-subtitle: 23px;
$font-size-text: 18px;



body {
	color: #525f7f;
	font-size: $font-size-text;
}

// Header
.header {
	background: url("../img/header/background.png") right no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;

	// Navbar
	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 50px;
		font-weight: 700;
	}

	.header__content {
		padding-top: 20vh;

		.header-title {
			font-weight: 700;
		}
	}
}

.header-title {
	font-size: $font-size-title;
	color: $color-darkblue;
	padding-bottom: 1.5rem;
}

.link-item {
	color: $color-darkblue;
}

.highlighted-btn {
	color: $color-white;
	font-weight: 700;
	background: $color-purple;
	padding: 15px 20px;
	border-radius: 5px;
	box-shadow: -4px 6px 5px $color-shadow;
}

.text {
	padding-bottom: 30px;
}



// Section
.section {
	padding: 100px 0;
}

.section--lightgrey {
	background: $color-lightgrey;
}

.section-info-mini {
	.header-title {
		font-size: $font-size-medium;
		padding-top: 2rem;
		padding-bottom: 1rem;
	}

	.section-subtitle {
		font-size: $font-size-text;
		padding-bottom: 3rem;
	}
}

.about__block {
	box-shadow: -4px 6px 5px $color-shadow, 4px -2px 5px $color-shadow;
	border-radius: 15px;
	padding: 60px;
	margin: 10px;
	min-width: 540px;

	.about-picture {
		padding-bottom: 20px;
	}
}

.block-title {
	color: $color-darkblue;
	font-size: $font-size-medium;
	padding-bottom: 1rem;
}

.services {
	background: url("../img/services/background.png") bottom no-repeat;
	background-size: contain;
}

.service-item {
	margin: 50px 0;
	padding: 10px;
	text-align: center;

	.service-icon {
		padding-bottom: 45px;
	}

	.service-title {
		font-weight: 700;
		color: $color-darkblue;
	}

	.service-text {
		padding: 15px 0;
	}
}

.safety {
	background: url("../img/safety/safety.png") right no-repeat;
}

.move {
	background: url("../img/move/move.png") left no-repeat;
}

.finances {
	position: relative;

	img {
		position: absolute;
		top: -20%;
		right: 0;
		height: 750px;
	}
}

.list {
	color: $color-darkblue;
}

.input__block {
	display: flex;
	border-radius-right: 10px;
	box-shadow: -4px 6px 3px $color-lightblue;
	border-radius: 10px;

	input {
		padding: 30px;
		background: $color-white;
		color: $color-purple;
	}	

	.input-text {
		font-size: $font-size-subtitle;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;

		&::placeholder {
			color: $color-blue;
		}
	}

	.input-btn {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		font-weight: 700;
		font-size: 15px;
	}
}