body {
  color: #525f7f;
  font-size: 18px;
  background: url("../img/header/background.png") top right no-repeat;
  background-size: cover; }

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 50px;
  font-weight: 700; }

.header .header__content {
  margin-top: 200px; }
  .header .header__content .header-title {
    font-weight: 700; }

.header-title {
  font-size: 48px;
  color: #32325d;
  padding-bottom: 1.5rem; }

.link-item {
  color: #32325d; }

@media screen and (max-width: 540px) {
  .link-item {
    text-align: center;
    display: block;
    padding: 15px 25px; }
  .navbar__links {
    margin: auto; } }

.highlighted-btn {
  color: #fff;
  font-weight: 700;
  background: #845cff;
  padding: 15px 20px;
  border-radius: 5px;
  -webkit-box-shadow: -4px 6px 5px #e9e0ff;
  box-shadow: -4px 6px 5px #e9e0ff; }

.text {
  padding-bottom: 30px; }

.section {
  padding: 100px 0; }

.section--lightgrey {
  background: #fafaff; }

.section--darkpurple {
  background: #212240; }

.section-info-mini .header-title {
  font-size: 30px;
  padding-top: 2rem;
  padding-bottom: 1rem; }

.section-info-mini .section-subtitle {
  font-size: 18px;
  padding-bottom: 3rem; }

.about__block {
  -webkit-box-shadow: -4px 6px 5px #f4f4fe, 4px -2px 5px #f4f4fe;
  box-shadow: -4px 6px 5px #f4f4fe, 4px -2px 5px #f4f4fe;
  background: #fff;
  border-radius: 15px;
  padding: 60px;
  margin: 10px; }
  .about__block .about-picture {
    padding-bottom: 20px; }

.block-title {
  color: #32325d;
  font-size: 30px;
  padding-bottom: 1rem; }

.services {
  background: url("../img/services/background.png") bottom no-repeat;
  background-size: contain; }

.service-item {
  margin: 50px 0;
  padding: 10px;
  text-align: center; }
  .service-item .service-icon {
    padding-bottom: 45px; }
  .service-item .service-title {
    font-weight: 700;
    color: #32325d; }
  .service-item .service-text {
    padding: 15px 0; }

.safety {
  background: url("../img/safety/safety.png") right no-repeat; }

.move {
  background: url("../img/move/move.png") left no-repeat; }

.finances {
  position: relative; }
  .finances img {
    position: absolute;
    top: 0;
    right: 0;
    height: 600px; }

.list {
  color: #32325d; }
  .list .header-title {
    padding-bottom: 3rem; }

.input__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius-right: 10px;
  -webkit-box-shadow: -4px 6px 3px #f4f4fe;
  box-shadow: -4px 6px 3px #f4f4fe;
  border-radius: 10px; }
  .input__block input {
    padding: 30px;
    background: #fff;
    color: #845cff; }
  .input__block .input-text {
    font-size: 23px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; }
    .input__block .input-text::-webkit-input-placeholder {
      color: #8081ab; }
    .input__block .input-text:-ms-input-placeholder {
      color: #8081ab; }
    .input__block .input-text::-ms-input-placeholder {
      color: #8081ab; }
    .input__block .input-text::placeholder {
      color: #8081ab; }
  .input__block .input-btn {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 700;
    font-size: 15px; }

.footer-link {
  font-size: 16px;
  display: block;
  color: #fff;
  line-height: 2.5rem;
  padding-right: 30px; }
  .footer-link:last-child {
    padding: 0; }

.footer-link--dark {
  display: inline-block;
  color: #555377; }

.footer__copyright {
  margin-top: 100px; }
